fieldset{
	background-color: rgba(55,0,40,0.20);
}


input{
	height: 30px ;
	width: 200px;
	margin-bottom: 2%;
}

#submit_authentification1{
	height: 25px;
	width: 80px;
}

label{
	display:block;
  	float:right;
}

.alert {
	position : center;
}
